<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Profile Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Trade Tab -->
  <ion-tab title="Trade" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/trade">
    <ion-nav-view name="tab-trade"></ion-nav-view>
  </ion-tab>

  <!-- Contacts Tab -->
  <ion-tab title="Contacts" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
